/* static/styles.css */
body.app  {
  margin: 0px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: rgb(250, 250, 250);
  background-color: rgb(14, 17, 23);
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: auto;
}


.container.main {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

.main .row.form-wrapper {
  display: flex;
  flex-direction: row;
  -webkit-box-pack: start;
  place-content: flex-start;
  -webkit-box-align: stretch;
  align-items: stretch;
  position: absolute;
  inset: 0px;
  overflow: scroll;
}

.main form {
    background: #262730;
    color: rgb(250, 250, 250);
    padding: 1rem 1rem 10rem;
}

.main .form-wrapper .form-column {
  padding: 0;
  position: relative;
  user-select: auto;
  width: 500px;
  box-sizing: border-box;
  flex-shrink: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: 0.125rem 1rem;
}

.main .form-wrapper .result-box {
  display: flex;
    flex-direction: column;
    width: 100%;
    overflow: auto;
    -webkit-box-align: center;
    align-items: center;
}

.main .row.dummy-wrapper {
  margin: 3em 0 6em 0;
}
  
  /* Rest of the CSS styles */
  /* ... */
  
  .main  p, .main  ol, .main  ul, .main  dl, .main .input-field.col label,   .input-field [type=text]{
    font-family: "Source Sans Pro", sans-serif;
    word-break: break-word;
    margin: 0px 0px 1rem;
    padding: 0px;
    font-size: 1rem;
    font-weight: 400;
    color: rgb(250, 250, 250);
}

.main .input-field.col label,   .input-field [type=text], .main label{
  font-family: "Source Sans Pro", sans-serif;
  color: rgb(250, 250, 250);
}


  .main h1 {
    font-size: calc(1.4rem + 1.8vw)
}

@media(min-width: 1200px) {
  .main h1 {
        font-size:2.75rem
    }
}

.main h2 {
    font-size: calc(1.20rem + 1.2vw)
}

@media(min-width: 1200px) {
  .main h2 {
        font-size:2.15rem
    }
}

.main h3, .main .h3 {
    font-size: calc(1.3rem + .6vw)
}

@media(min-width: 1200px) {
  .main h3 {
        font-size:1.75rem
    }
}

.main h4 {
    font-size: calc(1.275rem + .3vw)
}

@media(min-width: 1200px) {
  .main h4 {
        font-size:1.5rem
    }
}

.main h5 {
    font-size: 1.25rem
}

.main h6 {
    font-size: 1rem
}

.main button,input,optgroup,select,textarea {
    font-size: inherit
}

.main [type=button]:not(:disabled),[type=reset]:not(:disabled),[type=submit]:not(:disabled),button:not(:disabled) {
    cursor: pointer
}

.main legend {
    font-size: 1rem
}