/* static/styles.css */
body {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  .container.main {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
  }
  
  /* Rest of the CSS styles */
  /* ... */
  


  .main h1 {
    font-size: calc(1.4rem + 1.8vw)
}

@media(min-width: 1200px) {
  .main h1 {
        font-size:2.75rem
    }
}

.main h2 {
    font-size: calc(1.35rem + 1.2vw)
}

@media(min-width: 1200px) {
  .main h2 {
        font-size:2.25rem
    }
}

.main h3 {
    font-size: calc(1.3rem + .6vw)
}

@media(min-width: 1200px) {
  .main h3 {
        font-size:1.75rem
    }
}

.main h4 {
    font-size: calc(1.275rem + .3vw)
}

@media(min-width: 1200px) {
  .main h4 {
        font-size:1.5rem
    }
}

.main h5 {
    font-size: 1.25rem
}

.main h6 {
    font-size: 1rem
}

.main button,input,optgroup,select,textarea {
    font-size: inherit
}

.main [type=button]:not(:disabled),[type=reset]:not(:disabled),[type=submit]:not(:disabled),button:not(:disabled) {
    cursor: pointer
}

.main legend {
    font-size: 1rem
}