<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Credit Risk Predictor App</title>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Import local CSS file -->
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


</head>

<body>
  <div class="container">

    
    <div class="row" style="background-color: yellow;">
    <div class="input-field col s12 browser-default">
      <select id="dummyDataDropdown" onchange="fillFormWithDummyData()">
        <option value="" disabled selected>Choose your option</option>
      </select>
      <label>Select Dummy Data:</label>
    </div>
  </div>

    <h1 class="blue-text text-darken-2">Credit Risk Predictor App</h1>
    <div class="row">

      <div class="col s12">

        <div class="row">
          <div class="col s8">
            <form id="loanForm">

              <div class="row">
                <div class="col s12">
                  <h4>Applicant data</h4>
                </div>
              </div>

              <div class="row">

                <div class="col s6">
                  <div class="row">
                    <div class="input-field col s12">
                      <select id="age" class="validate">
                        <option value="" disabled selected>Choose an Age Category</option>
                        <option value="2">45-54</option>
                        <option value="1">35-44</option>
                        <option value="3">55-64</option>
                        <option value="0">25-34</option>
                        <option value="4">65-74</option>
                        <option value="7">&gt;74</option>
                        <option value="6">&lt;25</option>
                      </select>
                      <label for="age">Age Category</label>
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="Race" id="race" type="text" class="validate">
                      <label for="race">Race</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="100000" id="income" type="number" class="validate">
                      <label for="income">Income</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="0.25" id="debtToIncomeRatio" type="number" class="validate">
                      <label for="debtToIncomeRatio">Debt-to-Income Ratio</label>
                    </div>
                  </div>
                </div>

                <div class="col s6">
                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="Sex" id="sex" type="text" class="validate">
                      <label for="sex">Sex</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="Ethnicity" id="ethnicity" type="text" class="validate">
                      <label for="ethnicity">Ethnicity</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="750" id="creditScore" type="number" class="validate">
                      <label for="creditScore">Credit Score</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="Lender Credits" id="lenderCredits" type="number" class="validate">
                      <label for="lenderCredits">Lender Credits</label>
                    </div>
                  </div>
                </div>

              </div>

              <div class="row">
                <div class="col s12">
                  <h4>Co-applicant</h4>
                </div>
              </div>

              <div class="row">

                <div class="col s6">
                  <div class="row">
                    <div class="input-field col s12">
                      <select id="co_age" class="validate">
                        <option value="" disabled selected>Choose an Age Category</option>
                        <option value="2">45-54</option>
                        <option value="1">35-44</option>
                        <option value="3">55-64</option>
                        <option value="0">25-34</option>
                        <option value="4">65-74</option>
                        <option value="7">&gt;74</option>
                        <option value="6">&lt;25</option>
                      </select>
                      <label for="co_age">Age Category</label>
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="Co-Applicant Race" id="applicantRace" type="text" class="validate">
                      <label for="applicantRace">Co-Applicant Race</label>
                    </div>
                  </div>
                </div>

                <div class="col s6">
                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="Co-Applicant Ethnicity" id="applicantEthnicity" type="text" class="validate">
                      <label for="applicantEthnicity">Co-Applicant Ethnicity</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="Co-Applicant Sex" id="co_sex" type="text" class="validate">
                      <label for="co_sex">Co-Applicant Sex</label>
                    </div>
                  </div>
                </div>

              </div>

              <div class="row">
                <div class="col s12">
                  <h4>Property info</h4>
                </div>
              </div>

              <div class="row">

                <div class="col s6">
                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="Property Value" id="propertyvalue" type="number" class="validate">
                      <label for="propertyvalue">Property Value</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="Lien Status" id="lienstatus" type="text" class="validate">
                      <label for="lienstatus">Lien Status</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="Manufactured Home Land Property Interest"
                        id="manufacturedHomeLandPropertyInterest" type="text" class="validate">
                      <label for="manufacturedHomeLandPropertyInterest">Manufactured Home Land Property Interest</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="Multifamily Affordable Units" id="multifamilyAffordableUnits" type="number"
                        class="validate">
                      <label for="multifamilyAffordableUnits">Multifamily Affordable Units</label>
                    </div>
                  </div>
                </div>

                <div class="col s6">
                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="Occupancy Type" id="occupancyType" type="text" class="validate">
                      <label for="occupancyType">Occupancy Type</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="Manufactured Home Secured Property Type"
                        id="manufacturedHomeSecuredPropertyType" type="text" class="validate">
                      <label for="manufacturedHomeSecuredPropertyType">Manufactured Home Secured Property Type</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="Total Units" id="totalUnits" type="number" class="validate">
                      <label for="totalUnits">Total Units</label>
                    </div>
                  </div>
                </div>

              </div>

              <div class="row">
                <div class="col s12">
                  <h4>Loan details</h4>
                </div>
              </div>

              <div class="row">

                <div class="col s6">
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="loanAmount" type="number" class="validate">
                      <label for="loanAmount">Loan Amount</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="Interest Rate" id="interestRate" type="text" step="0.01" class="validate">
                      <label for="interestRate">Interest Rate</label>
                    </div>
                  </div>
                  

                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="Total Points and Fees" id="totalpointsandfees" type="text" class="validate">
                      <label for="totalpointsandfees">Total Points and Fees</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="Loan Term" id="loanterm" type="text" class="validate">
                      <label for="loanterm">Loan Term</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="Discount Points" id="discountPoints" type="number" class="validate">
                      <label for="discountPoints">Discount Points</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="Prepayment Penalty Term" id="prepaymentPenaltyTerm" type="number"
                        class="validate">
                      <label for="prepaymentPenaltyTerm">Prepayment Penalty Term</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="Negative Amortization" id="negativeAmortization" type="text" class="validate">
                      <label for="negativeAmortization">Negative Amortization</label>
                    </div>
                  </div>
                </div>

                <div class="col s6">
                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="Total Loan Costs" id="totalloancosts" type="text" class="validate">
                      <label for="totalloancosts">Total Loan Costs</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="Loan Type" id="loantype" type="text" class="validate">
                      <label for="loantype">Loan Type</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="Loan Purpose" id="loanpurpose" type="text" class="validate">
                      <label for="loanpurpose">Loan Purpose</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="Origination Charges" id="originationCharges" type="number" class="validate">
                      <label for="originationCharges">Origination Charges</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="Interest-Only Payment" id="interestOnlyPayment" type="text" class="validate">
                      <label for="interestOnlyPayment">Interest-Only Payment</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="Balloon Payment" id="balloonPayment" type="text" class="validate">
                      <label for="balloonPayment">Balloon Payment</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="Other Nonamortizing Features" id="otherNonamortizingFeatures" type="text"
                        class="validate">
                      <label for="otherNonamortizingFeatures">Other Nonamortizing Features</label>
                    </div>
                  </div>
                </div>

              </div>

              <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>

            </form>
          </div>
          <div class="col s3">
            <h2>Prediction:</h2>
            <p id="prediction">Result: </p>
          </div>
        </div>
      </div>
    </div>



  </div>
  </div>

  <!-- Import Materialize JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>



  <script>
    let dummyData;

    // Load dummy data from JSON
    fetch('./static/testdata.json')
      .then(response => response.json())
      .then(data => {
        dummyData = data;
        console.log('Dummy data loaded:', dummyData);
        populateDropdown();
      })
      .catch(error => console.error('Error loading dummy data:', error));

    function populateDropdown() {
      const dropdown = document.getElementById('dummyDataDropdown');
      for (const key in dummyData) {
        if (dummyData.hasOwnProperty(key)) {
          const option = document.createElement('option');
          option.value = key;
          option.textContent = key;
          dropdown.appendChild(option);
        }
      }

      // Initialize Materialize select elements
      var elems = document.querySelectorAll('select');
      var instances = M.FormSelect.init(elems);

      console.log('Dropdown populated with options:', dropdown.innerHTML);
    }
      
      
      
      function fillFormWithDummyData() {
  const selectedOption = document.getElementById('dummyDataDropdown').value;
  const data = dummyData[selectedOption];

  if (data) {
 // Fill the form fields with dummy data
    document.getElementById('age').value = data.applicantData.age;
    document.getElementById('race').value = data.applicantData.race;
    document.getElementById('sex').value = data.applicantData.sex;
    document.getElementById('ethnicity').value = data.applicantData.ethnicity;
    document.getElementById('income').value = data.applicantData.income;
    document.getElementById('debtToIncomeRatio').value = data.applicantData.debtToIncomeRatio;
    document.getElementById('creditScore').value = data.applicantData.creditScore;
    document.getElementById('lenderCredits').value = data.applicantData.lenderCredits;

    document.getElementById('co_age').value = data.coApplicantData.co_age;
    document.getElementById('applicantRace').value = data.coApplicantData.applicantRace;
    document.getElementById('co_sex').value = data.coApplicantData.co_sex;
    document.getElementById('applicantEthnicity').value = data.coApplicantData.applicantEthnicity;

    document.getElementById('propertyvalue').value = data.propertyInfo.propertyValue;
    document.getElementById('lienstatus').value = data.propertyInfo.lienStatus;
    document.getElementById('manufacturedHomeLandPropertyInterest').value = data.propertyInfo.manufacturedHomeLandPropertyInterest;
    document.getElementById('multifamilyAffordableUnits').value = data.propertyInfo.multifamilyAffordableUnits;
    document.getElementById('occupancyType').value = data.propertyInfo.occupancyType;
    document.getElementById('manufacturedHomeSecuredPropertyType').value = data.propertyInfo.manufacturedHomeSecuredPropertyType;
    document.getElementById('totalUnits').value = data.propertyInfo.totalUnits;

    document.getElementById('loanAmount').value = data.loanDetails.loanAmount;
    document.getElementById('interestRate').value = data.loanDetails.interestRate;
    document.getElementById('totalpointsandfees').value = data.loanDetails.totalpointsandfees;
    document.getElementById('loanterm').value = data.loanDetails.loanterm;
    document.getElementById('discountPoints').value = data.loanDetails.discountPoints;
    document.getElementById('prepaymentPenaltyTerm').value = data.loanDetails.prepaymentPenaltyTerm;
    document.getElementById('negativeAmortization').value = data.loanDetails.negativeAmortization;
    document.getElementById('totalloancosts').value = data.loanDetails.totalloancosts;
    document.getElementById('loantype').value = data.loanDetails.loantype;
    document.getElementById('loanpurpose').value = data.loanDetails.loanpurpose;
    document.getElementById('originationCharges').value = data.loanDetails.originationCharges;
    document.getElementById('interestOnlyPayment').value = data.loanDetails.interestOnlyPayment;
    document.getElementById('balloonPayment').value = data.loanDetails.balloonPayment;
    document.getElementById('otherNonamortizingFeatures').value = data.loanDetails.otherNonamortizingFeatures;
  } else {
    console.error('No data found for the selected option.');
  }

    // Prepare the data to send to the Flask app
    const formData = new FormData(document.getElementById('yourFormId'));  // Replace 'yourFormId' with the actual form ID
    const jsonData = {};

    formData.forEach((value, key) => {
      jsonData[key] = value;
    });

    // Send the data to the Flask app for prediction
    fetch('/predict', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(jsonData)
    })
    .then(response => response.json())
    .then(data => {
      console.log('Prediction:', data);
      // Update your UI with the prediction
      document.getElementById('prediction').innerText = `Predicted class: ${data.prediction}`;
    })
    .catch(error => console.error('Error predicting:', error));
  }



    // Initialize Materialize select elements
    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('select');
      var instances = M.FormSelect.init(elems);
    });
  </script>


<script>
    document.querySelector('form').addEventListener('submit', function(event) {
        event.preventDefault();

        // Gather all the form values
        const age = document.getElementById('age').value;
        const income = document.getElementById('income').value;
        const race = document.getElementById('race').value;
        const sex = document.getElementById('sex').value;
        const ethnicity = document.getElementById('ethnicity').value;
        const lenderCredits = document.getElementById('lenderCredits').value;
        const debtToIncomeRatio = document.getElementById('debtToIncomeRatio').value;
        const creditScore = document.getElementById('creditScore').value;

        const loanAmount = document.getElementById('loanAmount').value;
        const interestRate = document.getElementById('interestRate').value;
        const totalpointsandfees = document.getElementById('totalpointsandfees').value;
        const loanterm = document.getElementById('loanterm').value;
        const discountPoints = document.getElementById('discountPoints').value;
        const prepaymentPenaltyTerm = document.getElementById('prepaymentPenaltyTerm').value;
        const negativeAmortization= document.getElementById('negativeAmortization').value;
        const totalloancosts = document.getElementById('totalloancosts').value;
        const loantype = document.getElementById('loantype').value;
        const loanpurpose = document.getElementById('loanpurpose').value;
        const originationCharges = document.getElementById('originationCharges').value;
        const interestOnlyPayment = document.getElementById('interestOnlyPayment').value;
        const balloonPayment = document.getElementById('balloonPayment').value;
        const otherNonamortizingFeatures = document.getElementById('otherNonamortizingFeatures').value;

        fetch('/predict', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: new URLSearchParams({
                'age': age,
                'income': income,
                'race': race,
                'sex': sex,
                'ethnicity': ethnicity,
                'lenderCredits': lenderCredits,
                'debtToIncomeRatio': debtToIncomeRatio,
                'creditScore': creditScore,

                'loanAmount': loanAmount,
                'interestRate': interestRate,
                'totalpointsandfees': totalpointsandfees,
                'loanterm': loanterm,
                'discountPoints':discountPoints, 
                'prepaymentPenaltyTerm': prepaymentPenaltyTerm,
                'negativeAmortization': negativeAmortization,
                'totalloancosts': totalloancosts,
                'loantype': loantype,
                'loanpurpose': loanpurpose,
                'originationCharges': originationCharges,
                'interestOnlyPayment': interestOnlyPayment,
                'balloonPayment': balloonPayment,
                'otherNonamortizingFeatures': otherNonamortizingFeatures,
            })
        })
        .then(response => response.json())
        .then(data => {
            const predictionElement = document.getElementById('prediction');
            predictionElement.innerText = `Predicted class: ${data.prediction}`;
        });
    });
</script>





</body>

</html>