<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Credit Risk Predictor App</title>
  <!-- Compiled and minified Materialize CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- Import local CSS file -->
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <!-- Compiled and minified Materialize JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
  <div class="container">
    <div class="row" style="background-color: yellow;">
      <div class="input-field col s12 browser-default">
        <select id="dummyDataDropdown" onchange="fillFormWithDummyData()">
          <option value="" disabled selected>Choose your option</option>
        </select>
        <label>Select Dummy Data:</label>
      </div>
    </div>
    <h1 class="blue-text text-darken-2">Credit Risk Predictor App</h1>
    <div class="row">
      <div class="col s12">
        <div class="row">
          <div class="col s8">
            <form id="loanForm" action="{{ url_for('predict') }}" method="post">
              <div class="row">
                <div class="col s12">
                  <h4>Applicant data</h4>
                </div>
              </div>
              <div class="row">
                <div class="col s6">
                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="John" id="first_name" type="text" class="validate">
                      <label for="first_name">First Name</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="35" id="age" type="number" class="validate">
                      <label for="age">Age</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <label for="race">Race:</label>
                      <select name="race" id="race">
                        <option value="5">White</option>
                        <option value="3">Black</option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <label for="race2">Second Race:</label>
                      <select name="race2" id="race2">
                        <option value="5">White</option>
                        <option value="3">Black</option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="100000" id="income" type="number" class="validate">
                      <label for="income">Income</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="0.25" id="debtToIncomeRatio" type="number" class="validate">
                      <label for="debtToIncomeRatio">Debt-to-Income Ratio</label>
                    </div>
                  </div>
                </div>
                <div class="col s6">
                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="Doe" id="last_name" type="text" class="validate">
                      <label for="last_name">Last Name</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <label for="applicantSex">Sex:</label>
                      <select name="applicantSex" id="applicantSex">
                        <option value="1">Male</option>
                        <option value="2">Female</option>
                        <option value="6">Joint</option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <label for="ethnicity">Ethnicity:</label>
                      <select name="ethnicity" id="ethnicity">
                        <option value="2">Not Hispanic or Latino</option>
                        <option value="1">Hispanic or Latino</option>
                      </select>                      
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <label for="creditScoreType">Credit Score Type:</label>
                      <select name="creditScoreType" id="creditScoreType">
                        <option value="1">Equifax Beacon 5.0</option>
                        <option value="2">Experian Fair Isaac</option>
                        <option value="3">FICO Risk Score Classic 04</option>
                        <option value="4">FICO Risk Score Classic 98</option>
                        <option value="5">VantageScore 2.0</option>
                        <option value="6">VantageScore 3.0</option>
                        <option value="7">More than one credit scoring model</option>
                        <option value="8">Other credit scoring model</option>
                        <option value="9">Not applicable</option>
                        <option value="1111">Exempt</option>
                      </select>   
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="Lender Credits" id="lenderCredits" type="number" class="validate">
                      <label for="lenderCredits">Lender Credits</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col s12">
                  <h4>Co-applicant</h4>
                </div>
              </div>
              <div class="row">
                <div class="col s6">
                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="Co-Applicant Age" id="CoapplicantAge" type="number" class="validate">
                      <label for="CoapplicantAge">Co-Applicant Age</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <label for="CoapplicantRace">Race:</label>
                      <select name="race" id="CoapplicantRace">
                        <option value="5">White</option>
                        <option value="3">Black</option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <label for="CoapplicantRace2">Second Race:</label>
                      <select name="race" id="CoapplicantRace2">
                        <option value="5">White</option>
                        <option value="3">Black</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col s6">
                  <div class="row">
                    <div class="input-field col s12">
                      <label for="CoapplicantEthnicity">Ethnicity:</label>
                      <select name="CoapplicantEthnicity" id="CoapplicantEthnicity">
                        <option value="2">Not Hispanic or Latino</option>
                        <option value="1">Hispanic or Latino</option>
                      </select>   
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <label for="CoapplicantSex">Sex:</label>
                      <select name="CoapplicantSex" id="CoapplicantSex">
                        <option value="1">Male</option>
                        <option value="2">Female</option>
                        <option value="6">Joint</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col s12">
                  <h4>Property info</h4>
                </div>
              </div>
              <div class="row">
                <div class="col s6">
                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="Property Value" id="propertyvalue" type="number" class="validate">
                      <label for="propertyvalue">Property Value</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="Lien Status" id="lienstatus" type="text" class="validate">
                      <label for="lienstatus">Lien Status</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="Manufactured Home Land Property Interest"
                        id="manufacturedHomeLandPropertyInterest" type="text" class="validate">
                      <label for="manufacturedHomeLandPropertyInterest">Manufactured Home Land Property Interest</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="Multifamily Affordable Units" id="multifamilyAffordableUnits" type="number"
                        class="validate">
                      <label for="multifamilyAffordableUnits">Multifamily Affordable Units</label>
                    </div>
                  </div>
                </div>
                <div class="col s6">
                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="Occupancy Type" id="occupancyType" type="text" class="validate">
                      <label for="occupancyType">Occupancy Type</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="Manufactured Home Secured Property Type"
                        id="manufacturedHomeSecuredPropertyType" type="text" class="validate">
                      <label for="manufacturedHomeSecuredPropertyType">Manufactured Home Secured Property Type</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="Total Units" id="totalUnits" type="number" class="validate">
                      <label for="totalUnits">Total Units</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col s12">
                  <h4>Loan details</h4>
                </div>
              </div>
              <div class="row">
                <div class="col s6">
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="loanAmount" type="number" class="validate">
                      <label for="loanAmount">Loan Amount</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="Interest Rate" id="interestRate" type="text" step="0.01" class="validate">
                      <label for="interestRate">Interest Rate</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="Total Points and Fees" id="totalpointsandfees" type="text" class="validate">
                      <label for="totalpointsandfees">Total Points and Fees</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="Loan Term" id="loanterm" type="text" class="validate">
                      <label for="loanterm">Loan Term</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="Discount Points" id="discountPoints" type="number" class="validate">
                      <label for="discountPoints">Discount Points</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="Prepayment Penalty Term" id="prepaymentPenaltyTerm" type="number"
                        class="validate">
                      <label for="prepaymentPenaltyTerm">Prepayment Penalty Term</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="Negative Amortization" id="negativeAmortization" type="text" class="validate">
                      <label for="negativeAmortization">Negative Amortization</label>
                    </div>
                  </div>
                </div>
                <div class="col s6">
                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="Total Loan Costs" id="totalloancosts" type="text" class="validate">
                      <label for="totalloancosts">Total Loan Costs</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="Loan Type" id="loantype" type="text" class="validate">
                      <label for="loantype">Loan Type</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="Loan Purpose" id="loanpurpose" type="text" class="validate">
                      <label for="loanpurpose">Loan Purpose</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="Origination Charges" id="originationCharges" type="number" class="validate">
                      <label for="originationCharges">Origination Charges</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="Interest-Only Payment" id="interestOnlyPayment" type="text" class="validate">
                      <label for="interestOnlyPayment">Interest-Only Payment</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="Balloon Payment" id="balloonPayment" type="text" class="validate">
                      <label for="balloonPayment">Balloon Payment</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="Other Nonamortizing Features" id="otherNonamortizingFeatures" type="text"
                        class="validate">
                      <label for="otherNonamortizingFeatures">Other Nonamortizing Features</label>
                    </div>
                  </div>
                </div>
              </div>
              <button class="btn waves-effect waves-light" type="submit" onclick="predictLoan()" ="action">Submit</button>
            </form>
          </div>
          <div class="col s3">
            <h2>Prediction:</h2>
            <p id="prediction">Result: </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <!-- Import own JavaScript -->
  <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>