<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Credit Risk Predictor App</title>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Import local CSS file -->
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</head>

<body>
  <div class="container main">
    <div class="row" style="background-color: yellow;">
      <div class="input-field col s12 browser-default">
        <select id="dummyDataDropdown" onchange="populateFormFieldFromDummyData()">
          <option value="" disabled selected>Choose your option</option>
        </select>
        <label>Select Dummy Data:</label>
      </div>
    </div>
    <h1 class="blue-text text-darken-2">Credit Risk Predictor App</h1>
    <div class="row">
      <div class="col s12">
        <div class="row">
          <div class="col s8">
            <form id="loanForm" method="post" action="{{ url_for('predict')}}">
              <button class="btn waves-effect waves-light" type="submit">
                Predict
              </button>

              <div class="row">
                <div class="col s12">
                  <h4>Applicant data</h4>
                </div>
              </div>
              <div class="row">
                <div class="col s6">

                  <div class="row">
                    <div class="input-field col s12">
                      <select id="applicant_age" name="applicant_age" class="validate">
                        <option value="" disabled selected>Choose an Age Category</option>
                        <option value="2">45-54</option>
                        <option value="1">35-44</option>
                        <option value="3">55-64</option>
                        <option value="0">25-34</option>
                        <option value="4">65-74</option>
                        <option value="7">&gt;74</option>
                        <option value="6">&lt;25</option>
                      </select>
                      <label for="applicant_age">Age Category</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s12">
                      <select id="applicant_race_1" name="applicant_race_1" class="validate">
                        <option value="" disabled selected>Choose a Race</option>
                        <option value="5">White</option>
                        <option value="3">Black or African American</option>
                      </select>
                      <label for="applicant_race_1">Race</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s12">
                      <select id="applicant_ethnicity_1" name="applicant_ethnicity_1" class="validate">
                        <option value="" disabled selected>Choose an Ethnicity</option>
                        <option value="1"> Not Hispanic or Latino</option>
                        <option value="0">Hispanic or Latino</option>
                      </select>
                      <label for="applicant_ethnicity_1">Ethnicity</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="100000" id="income" name="income" type="text" class="validate" step="0.01">
                      <label for="income">Income</label>
                    </div>
                  </div>

                </div>
                <div class="col s6">

                  <div class="row">
                    <div class="input-field col s12">
                      <select id="applicant_sex" name="applicant_sex" class="validate">
                        <option value="" disabled selected>Choose a Gender</option>
                        <option value="1">Male</option>
                        <option value="2">Female</option>
                        <option value="6">Both male and female</option>
                      </select>
                      <label for="applicant_sex">Sex</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s12">
                      <select id="applicant_race_2" name="applicant_race_2" class="validate">
                        <option value="" disabled selected>Choose a Secondary Race</option>
                        <option value="0.000000">White</option>
                        <option value="0.564103">Black or African American</option>
                        <option value="0.461538">American Indian or Alaska Native</option>
                        <option value="0.487179">Asian</option>
                        <option value="0.410256">Asian Indian</option>
                        <option value="0.512821">Chinese</option>
                        <option value="0.435897">Filipino</option>
                        <option value="1.000000">Japanese</option>
                        <option value="0.538462">Korean</option>
                        <option value="0.974359">Vietnamese</option>
                        <option value="0.923077">Other Asian</option>
                      </select>
                      <label for="applicant_race_2">Secondary Race</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s12">
                      <select id="applicant_credit_score_type" name="applicant_credit_score_type" class="validate">
                        <option value="1">Equifax Beacon 5.0</option>
                        <option value="0">Experian Fair Isaac</option>
                        <option value="0.250">FICO Risk Score Classic 04</option>
                        <option value="0.125">FICO Risk Score Classic 98</option>
                        <option value="0.750">VantageScore 2.0</option>
                        <option value="0.875">VantageScore 3.0</option>
                      </select>
                      <label for="applicant_credit_score_type">Applicant Credit Score Type</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s12">
                      <select id="debt_to_income_ratio" name="debt_to_income_ratio"class="validate">
                        <option value="" disabled selected>Choose a Debt-to-Income Ratio Category</option>
                        <option value="0.6">36%-50%</option>
                        <option value="0.2">20%-&lt;30%</option>
                        <option value="0.4">30%-&lt;36%</option>
                        <option value="1.0">&lt;20%</option>
                        <option value="0.0">&gt;60%</option>
                        <option value="0.8">50%-60%</option>
                      </select>
                      <label for="debt_to_income_ratio">Debt-to-Income Ratio Category</label>
                    </div>
                  </div>

                </div>
              </div>
              <div class="row">
                <div class="col s12">
                  <h4>Co-applicant</h4>
                </div>
              </div>

              <div class="row">
                <div class="col s6">
                  <div class="row">
                    <div class="input-field col s12">
                      <select id="co_applicant_age" name="co_applicant_age" class="validate">
                        <option value="" disabled selected>Choose an Age Category</option>
                        <option value="2">45-54</option>
                        <option value="1">35-44</option>
                        <option value="3">55-64</option>
                        <option value="0">25-34</option>
                        <option value="4">65-74</option>
                        <option value="7">&gt;74</option>
                        <option value="6">&lt;25</option>
                      </select>
                      <label for="co_applicant_age">Age Category</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <select id="co_applicant_ethnicity_1" name="co_applicant_ethnicity_1" class="validate">
                        <option value="" disabled selected>Choose an Ethnicity</option>
                        <option value="1"> Not Hispanic or Latino</option>
                        <option value="0">Hispanic or Latino</option>
                      </select>
                      <label for="co_applicant_ethnicity_1">Ethnicity</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <select id="co_applicant_sex" name="co_applicant_sex" class="validate">
                        <option value="" disabled selected>Choose a Gender</option>
                        <option value="1">Male</option>
                        <option value="2">Female</option>
                        <option value="5">No co-applicant</option>
                        <option value="6">Both male and female</option>
                      </select>
                      <label for="co_applicant_sex">Sex</label>
                    </div>
                  </div>
                </div>
                <div class="col s6">
                  <div class="row">
                    <div class="input-field col s12">
                      <select id="co_applicant_race_1" name="co_applicant_race_1" class="validate">
                        <option value="" disabled selected>Choose a Race</option>
                        <option value="5">White</option>
                        <option value="3">Black or African American</option>
                      </select>
                      <label for="co_applicant_race_1">Race</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <select id="co_applicant_race_2" name="co_applicant_race_2" class="validate">
                        <option value="" disabled selected>Choose a Secondary Race</option>
                        <option value="0.093023">White</option>
                        <option value="0.511628">Black or African American</option>
                        <option value="0.534884">American Indian or Alaska Native</option>
                        <option value="0.465116">Asian</option>
                        <option value="0.604651">Other Asian</option>
                        <option value="0.488372">Chinese</option>
                        <option value="0.581395">Vietnamese</option>
                        <option value="1.000000">Other Pacific Islander</option>
                        <option value="0.558140">Korean</option>
                        <option value="0.930233">Native Hawaiian</option>
                        <option value="0.000000">American Indian or Alaska Native</option>
                        <option value="0.069767">Native Hawaiian or Other Pacific Islander</option>
                        <option value="0.046512">Black or African American</option>
                      </select>
                      <label for="co_applicant_race_2">Secondary Race</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <select id="co_applicant_credit_score_type" name="co_applicant_credit_score_type" class="validate">
                        <option value="1">Equifax Beacon 5.0</option>
                        <option value="0">Experian Fair Isaac</option>
                        <option value="0.250">FICO Risk Score Classic 04</option>
                        <option value="0.125">FICO Risk Score Classic 98</option>
                        <option value="0.750">VantageScore 2.0</option>
                        <option value="0.875">VantageScore 3.0</option>
                      </select>
                      <label for="co_applicant_credit_score_type">Applicant Credit Score Type</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <select id="open_end_line_of_credit" name="open_end_line_of_credit" class="validate">
                        <option value="" disabled selected>Choose a Race</option>
                        <option value="1">Open-end line of credit</option>
                        <option value="0">Not an open-end line of credit</option>
                      </select>
                      <label for="open_end_line_of_credit">Open end line of credit</label>
                    </div>
                  </div>

                </div>
              </div>

              <div class="row">
                <div class="col s12">
                  <h4>Property info</h4>
                </div>
              </div>
              <div class="row">
                <div class="col s6">

                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="Property Value" name="property_value" id="property_value" type="text" class="validate" step="0.01">
                      <label for="property_value">Property Value</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s12">
                      <select id="manufactured_home_land_property_interest" name="manufactured_home_land_property_interest" class="validate">
                        <option value="1">Direct ownership</option>
                        <option value="0">Indirect ownership</option>
                        <option value="0.5">Paid leasehold</option>
                      </select>
                      <label for="manufactured_home_land_property_interest">Manufactured Home Land Property
                        Interest</label>
                    </div>
                  </div>

                </div>
                <div class="col s6">

                  <div class="row">
                    <div class="input-field col s12">
                      <select id="occupancy_type" name="occupancy_type" class="validate">
                        <option value="0">Principal residence</option>
                        <option value="1">Second residence</option>
                        <option value="0.5">Investment property</option>
                      </select>
                      <label for="occupancy_type">Occupancy Type</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s12">
                      <select id="manufactured_home_secured_property_type" name="manufactured_home_secured_property_type" class="validate">
                        <option value="1">Manufactured home and land</option>
                        <option value="0">Manufactured home and not land</option>
                        <option value="0.5">Not applicable</option>
                      </select>
                      <label for="manufactured_home_secured_property_type">Manufactured Home Land Property
                        Interest</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="Total Units" id="total_units" name="total_units" type="number" class="validate">
                      <label for="total_units">Total Units</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="Lien Status" id="lien_status" name="lien_status" type="text" class="validate">
                      <label for="lien_status">Lien Status</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="Census Tract" id="census_tract" name="census_tract" type="text" class="validate">
                      <label for="census_tract">Census Tract</label>
                    </div>
                  </div>

                </div>
              </div>
              <div class="row">
                <div class="col s12">
                  <h4>Loan details</h4>
                </div>
              </div>
              <div class="row">
                <div class="col s6">

                  <div class="row">
                    <div class="input-field col s12">
                      <input id="loan_amount" type="text" name="loan_amount" class="validate" step="0.0001">
                      <label for="loan_amount">Loan Amount (between 0.0001 and 0.5)</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s12">
                      <select id="origination_charges" name="origination_charges" class="validate">
                        <option value="0">0-500</option>
                        <option value="0.142857">500-1000</option>
                        <option value="0.285714">1000-1500</option>
                        <option value="0.428571">1500-2000</option>
                        <option value="0.571429">2000-2500</option>
                        <option value="0.714286">2500-3000</option>
                        <option value="0.857143">3000-3500</option>
                        <option value="1">3500-4000</option>
                      </select>
                      <label for="origination_charges">Origination Charges</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s12">
                      <select id="interest_rate" name="interest_rate"  class="validate">
                        <option value="" disabled selected>Choose an Interest Rate</option>
                        <option value="1">0.0-1.0</option>
                        <option value="2">1.0-2.0</option>
                        <option value="3">2.0-3.0</option>
                        <option value="4">3.0-3.5</option>
                        <option value="5">3.5-4.0</option>
                        <option value="6">4.0-4.5</option>
                        <option value="7">4.5-5.0</option>
                        <option value="8">5.0-6.0</option>
                        <option value="9">6.0-7.0</option>
                        <option value="10">7.0-8.0</option>
                        <option value="11">8.0-9.0</option>
                        <option value="5.182086">9.0-15.0</option>
                      </select>
                      <label for="interest_rate">Interest Rate</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s12">
                      <select id="loan_term" name="loan_term" class="validate">
                        <option value="0.833333">27-31 years</option>
                        <option value="0.333333">12-16 years</option>
                        <option value="0.5">17-21 years</option>
                        <option value="0.166667">7-11 years</option>
                        <option value="0.666667">22-26 years</option>
                        <option value="0.0">2-6 years</option>
                        <option value="1.0">37-41 years</option>
                      </select>
                      <label for="loan_term">Loan Term</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="Negative Amortization" id="negative_amortization" name="negative_amortization" type="text"
                        class="validate">
                      <label for="negative_amortization">Negative Amortization</label>
                    </div>
                  </div>

                </div>
                <div class="col s6">

                  <div class="row">
                    <div class="input-field col s12">
                      <select id="total_loan_costs" name="total_loan_costs" class="validate">
                        <option value="0.235294">0-500</option>
                        <option value="0.058824">3000-3500</option>
                        <option value="0.000000">2500-3000</option>
                        <option value="0.117647">3500-4000</option>
                        <option value="0.176471">500-1000</option>
                        <option value="0.294118">2000-2500</option>
                        <option value="0.411765">4000-4500</option>
                        <option value="0.352941">4500-5000</option>
                        <option value="0.529412">5000-5500</option>
                        <option value="0.470588">1500-2000</option>
                        <option value="0.588235">5500-6000</option>
                        <option value="0.647059">1000-1500</option>
                        <option value="0.705882">6000-6500</option>
                        <option value="0.764706">6500-7000</option>
                        <option value="0.823529">7000-7500</option>
                        <option value="0.882353">7500-8000</option>
                        <option value="0.941176">8000-8500</option>
                        <option value="1.000000">8500-9000</option>
                      </select>
                      <label for="total_loan_costs">Total Loan Costs</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="Loan Type" id="loan_type" name="loan_type" type="text" class="validate">
                      <label for="loan_type">Loan Type</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s12">
                      <select id="combined_loan_to_value_ratio" name="combined_loan_to_value_ratio" class="validate">
                        <option value="0.000000">75.0-80.0 </option>
                        <option value="0.066667">70.0-75.0 </option>
                        <option value="0.133333">95.0-100.0 </option>
                        <option value="0.200000">65.0-70.0 </option>
                        <option value="0.266667">90.0-95.0 </option>
                        <option value="0.333333">85.0-90.0 </option>
                        <option value="0.400000">55.0-60.0 </option>
                        <option value="0.466667">60.0-65.0 </option>
                        <option value="0.533333">80.0-85.0 </option>
                        <option value="0.600000">50.0-55.0 </option>
                        <option value="0.666667">45.0-50.0 </option>
                        <option value="0.733333">40.0-45.0 </option>
                        <option value="0.800000">35.0-40.0 </option>
                        <option value="0.866667">100.0-120.0 </option>
                        <option value="0.933333">30.0-35.0 </option>
                        <option value="1.000000">25.0-30.0 </option>
                      </select>
                      <label for="combined_loan_to_value_ratio">Combined loan to value ratio</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="Interest-Only Payment" id="interest_only_payment" name="interest_only_payment" type="text"
                        class="validate">
                      <label for="interest_only_payment">Interest-Only Payment</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="Balloon Payment" id="balloon_payment" name="balloon_payment" type="text" class="validate">
                      <label for="balloon_payment">Balloon Payment</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="Other Nonamortizing Features" id="other_nonamortizing_features" name="other_nonamortizing_features" type="text"
                        class="validate">
                      <label for="other_nonamortizing_features">Other Nonamortizing Features</label>
                    </div>
                  </div>

                </div>
              </div>
            </form>
          </div>
          <div class="col s3">
            <h2>Prediction:</h2>
            <p id="prediction">
              {{ prediction_text }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <!-- Include jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- Import Materialize JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <!-- Filling the dummy dropdown -->
  <script>

    let jsonData; 

    // Load your reshaped JSON data
    fetch('./static/testdata.json') 
      .then(response => response.json())
      .then(data => {
        jsonData = data; // Assign the loaded data to the jsonData variable
        console.log('JSON data loaded:', jsonData);
        populateDropdown();
      })
      .catch(error => console.error('Error loading JSON data:', error));


    // Function to fill form with dummy data
    function populateDropdown() {
      const dropdown = document.getElementById('dummyDataDropdown');
      for (const key in jsonData) {
        if (jsonData.hasOwnProperty(key)) {
          const option = document.createElement('option');
          option.value = key;
          option.textContent = key;
          dropdown.appendChild(option);
        }
      }

      // Initialize Materialize select elements
      var elems = document.querySelectorAll('select');
      var instances = M.FormSelect.init(elems);

      console.log('Dropdown populated with options:', dropdown.innerHTML);
    }



    // ----------------------------------------------------------------//

    function populateFormFieldFromDummyData() {
      const dropdown = document.getElementById('dummyDataDropdown');
      const selectedDummyIndex = dropdown.selectedIndex; // Get the selected index

      if (jsonData && jsonData[selectedDummyIndex]) {
        const data = jsonData[selectedDummyIndex];

        for (const key in data) {
          if (data.hasOwnProperty(key)) {
            const value = data[key];
            populateFormField(key, value);
          }
        }

        // Initialize all select fields after setting their values
        const selectFields = document.querySelectorAll('select');
        M.FormSelect.init(selectFields);
      } else {
        console.error('Data not found for the selected dummy index:', selectedDummyIndex);
      }
    }

    function populateFormField(name, value) {
      const element = document.querySelector(`[name="${name}"]`);
      if (element) {
        element.value = value.toString();
        console.log(`Set ${name} to ${value}`);
      } else {
        console.error(`Element with name ${name} not found.`);
      }
    }



  </script>

  <!-- Handle Form Submission -->
  <script>


    // Event Listeners
    document.addEventListener('DOMContentLoaded', function () {
      // Materialize select elements
      var elems = document.querySelectorAll('select');
      var instances = M.FormSelect.init(elems);

    });
  </script>

<script>
document.getElementById("loanForm").addEventListener("submit", function(event) {
  event.preventDefault(); // Prevent the form from submitting normally

  // Serialize the form data to a string
  const formData = new FormData(this);
  let formDataString = "";
  for (const [key, value] of formData.entries()) {
    formDataString += `${key}: ${value}\n`;
  }

  // Log the form data to the browser console
  console.log("Form Data:\n", formDataString);

  // Now you can submit the form, or you can send the data via AJAX, or perform other actions as needed
  // this.submit(); // Uncomment this line to submit the form

  // For debugging, you can also display the form data on the page
  // const outputElement = document.getElementById("formOutput");
  // outputElement.textContent = formDataString;
});
</script>

</body>

</html>